
.container > .search {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}


.container {
  margin: 0 auto;
  inline-size: 90%;
  block-size: 500px;
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "header"
  "search"
  "ad"
  "footer"
}
@media screen and (max-width:  599px){
  .sidebar {
    display: none;
  }
}

@media screen and (min-width:  600px){
  
  .container {
  grid-template-columns:  1fr 2fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
  "header header"
  "ad search"
  "footer footer";
  }
}

.header {
  grid-area: header;
  
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-portfolio-logo {

}

.search {
  grid-area: search;
  background-color: red;
}

.footer {
  grid-area: footer;
  background-color: green;
}

.ad {
  grid-area: ad;
  background-color: violet;
}

.sidebar {
  grid-area: sidebar;
  background-color: orange;
}

.search-container-image {
  background-image: url('https://loremflickr.com/900/400');
  background-size: cover;
  background-repeat: no-repeat;
  block-size: 400px;
  position: relative;
}