.container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns:  1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
  "header header header header"
  "ad search search sidebar"
  "footer footer footer footer";
}

.header {
  grid-area: header;
  background-color: blue;
}

.search {
  grid-area: search;
  background-color: red;
}

.footer {
  grid-area: footer;
  background-color: green;
}

.ad {
  grid-area: ad;
  background-color: black;
}

.sidebar {
  grid-area: sidebar;
  background-color: orange;
}